.card {
    width: 386px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 42px;
    padding: 50px 45px 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card_img {
    width: 278px;
    height: auto;
}

.card_content {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.card_title {
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;
}

.card_inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.card_price_title {
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    color: #666666;
}

.card_price {
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
}

.card_btn {
    width: 38px;
    height: 38px;
    border: 1px solid rgba(104, 102, 102, 0.5);
    background-color: rgba(233, 233, 233, 0.5);
    border-radius: 50%;
    font-size: 24px;
    color: #000000;
}

.card_btn:hover {
    background-color: #03060F;
    color: #ffffff;
    width: 40px;
    height: 40px;
    border: 3px solid #2A2B30
}